
<mat-toolbar class="d-flex justify-content-between px-5 align-items-center bg-dark mat-elevation-z3">

  <div class="d-flex align-items-center ">
    <button mat-icon-button (click)="collapsed.set(!collapsed())">
      <mat-icon class="text-white">menu</mat-icon>
    </button>
    <h1 class="text-white ms-3">PESTWAREAPP</h1>
  </div>
  <div class="s">
    <button matTooltip="Cerrar sesión" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon class="text-white fw-bold">logout</mat-icon>
    </button>
  </div>

</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav opened mode="side" [style.width]="sidenavWidth()">
    <div class="sidenav-header">
      <img
        [width]="profilePicSize()"
        [height]="profilePicSize()"
        src="https://pestwareapp.com/loginew/img/logo.svg"
      />
      <div class="header-text" [class.hide-header-text]="collapsed()">
        <h2>Your channel</h2>
        <p>Zoaib Khan</p>
      </div>
    </div>

  <mat-nav-list  >
  <mat-list-item class="menu-item ">
    <mat-icon matListItemIcon>folder</mat-icon>
    <div matListItemTitle>sdfsdfdf</div>

  </mat-list-item>

  <mat-list-item class="menu-item">
    <mat-icon matListItemIcon >folder</mat-icon>
    <div matListItemTitle>sdfsdfdf</div>

  </mat-list-item>
</mat-nav-list>



  </mat-sidenav>
  <mat-sidenav-content class="content" [style.margin-left]="sidenavWidth()">
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas voluptatum error repellendus est deserunt distinctio dolor ab accusantium mollitia tempora ipsam dolorem hic, assumenda libero. Quasi id commodi dolores magni.</div>
    <div class="col-sm-12  col-md-6">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
  </mat-sidenav-content>
</mat-sidenav-container>
