/**
@tailwind base;
@tailwind components;
@tailwind utilities;

*/
@import './custom-theme.scss';

$var-color-primary:#3d91f0;
$var-color-accent:#4c63b6;
$var-color-warn:#07b0f0;
html, body { height: 100%; background-color: #07b0f0; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.text-color-primary{
 color: $var-color-primary !important;
}
.text-color-accent{
  color: $var-color-accent !important;
 }


 ::ng-deep .custom-style{
  background-color:brown !important;
  color:white !important;
}
