
<div class="ui-login-bg"></div>
<div class="ui-login ">


    <form class="ui-form the-dense-zone " [formGroup]="loginForm" novalidate >


      <mat-form-field class="" appearance="outline">
        <mat-label>Usuario</mat-label>
        <input type="text" matInput formControlName="Username">

      </mat-form-field>


      <mat-form-field class="" appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input type="password" matInput formControlName="Password"   autocomplete="off" readonly onfocus="this.removeAttribute('readonly')">

      </mat-form-field>





        <div class="ui-form-row">

            <button class="py-3"  mat-flat-button color="accent" (click)="confirm()" [disabled]="!loginForm.valid">ENTRAR</button>
        </div>

    </form>

</div>

